$header: #95adbe;
$header-hover: #acc2d2;
$header-text: #fff;

$fixed-columns: #e3f8ff;
$fixed-columns-text: #2d3639;

$time-cell: #f1fcff;

$row-hover: #edf6f9;
$row-column-hover: #dfeaee;
$row-shadow: rgba(149, 173, 190, 0.2);

$scrollbar: #d0dae2;
$scroll-shadow: rgba(149, 173, 190, 0.5);